// Variables for footer styling
$footer-bg-color: #000;
$footer-text-color: #ffffff;
$footer-link-color: lighten($footer-text-color, 20%);
$footer-link-hover-color: lighten($footer-link-color, 40%);

footer {
  max-height: 15rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

// Footer container styling
.custom-footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    align-content: center;


  .footer-link {
    color: $footer-link-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $footer-link-hover-color;
      text-decoration: underline;
    }
  }
}
